.dashboardCard{
  -fx-pref-width: 185.53px;
      -fx-pref-height: 95px;
      -fx-background-radius: 4px;
      -fx-effect:dropshadow(gaussian, rgba(0,0,0,0.36),0,4,4,0 );
      -fx-opacity: 0.84;
}

.Lables{
            -fx-pref-width: 155px;
            -fx-pref-height: 20px;
            -fx-padding: 5px;
            -fx-background-radius: 0px 8px 8px 0px;
            -fx-border-width: 0px 2px 0px 0px;
            -fx-border-color: transparent;
            -fx-gap: 10px;
            -fx-translate-x: -0.43px;
             -fx-background-color: rgba(255, 255, 255, 0.4);
             -fx-effect:dropshadow(gaussian,rgba(0, 0, 0, 0.4),0,4,4,0 );
              -fx-font-family: "Inter";
                 -fx-font-size: 16px;
                 -fx-font-weight: 800;
                 -fx-line-spacing: 19px;
                 -fx-letter-spacing: 0em;
                 -fx-text-alignment: center;
}

.buttons{
            -fx-pref-width: 86px;
            -fx-pref-height: 19px;
            -fx-font-family: 'Inter';
            -fx-font-size: 16px;
            -fx-font-weight: 400;
            -fx-line-height: 19px;
            -fx-letter-spacing: 0em;
            -fx-text-alignment: center;
            -fx-text-fill:#000000;

}

