.dashboardCard{
  -fx-pref-width: 185.53px;
      -fx-pref-height: 89.35px;
      -fx-background: linear-gradient(rgba(89, 5, 123, 0.84) 14.01%, rgba(159, 36, 132, 0.79) 62.28%, #DC408B 104.59%);
      -fx-background-radius: 4px;
      -fx-effect:dropshadow(gaussian, rgba(0,0,0,0.36),0,4,4,0 );
      -fx-opacity: 0.84;
}

.Lables{
            -fx-pref-width: 155px;
            -fx-pref-height: 20px;
            -fx-padding: 5px;
            -fx-background-radius: 0px 8px 8px 0px;
            -fx-border-width: 0px 2px 0px 0px;
            -fx-border-color: transparent;
            -fx-gap: 10px;
            -fx-translate-x: -0.43px;
             -fx-background-color: rgba(255, 255, 255, 0.4);
             -fx-effect:dropshadow(gaussian,rgba(0, 0, 0, 0.4),0,4,4,0 );
}

