.moreInfoBtn{
    -fx-background-color: #F179BB;
    -fx-background-radius: 50;
}
.noteBtn{
    -fx-background-color: #F179BB;
    -fx-background-radius:  14 0 0 0;
    -fx-padding: 0;
}
.moreInfoBtn:hover,.noteBtn:hover{
    -fx-transition: color 0.8s ease-in-out;
    -fx-background-color:black;
    -fx-text-fill: white;
    -fx-cursor: hand; /* Change cursor to pointer */
    -fx-font-weight:800;
}