.footer{
    -fx-border-width: 2 0 0 0;
    -fx-pref-width: 695px;
    -fx-pref-height: 32px;
    -fx-background-radius: 8px;
    -fx-background-color:#FFFFFF;
    -fx-effect:dropshadow( gaussian,rgba(0, 0, 0, 0.13),4,1,4,4);
}
.contactUs{
    -fx-background-color: none;
    -fx-font-family: Zen Kaku Gothic Antique;
}
.contactUs:hover{
    -fx-transition: color 0.8s ease-in-out;
    -fx-background-radius: 15;
    -fx-padding: 2 0 2 0;
    -fx-background-color:grey;
    -fx-cursor: hand; /* Change cursor to pointer */
    -fx-font-weight:800;
}

.title{
    -fx-pref-width: 382px;
    -fx-pref-height: 32px;
}

.datetime{
    -fx-pref-width: 140px;
    -fx-pref-height: 25px;
    -fx-background-radius: 4px;
    -fx-font-weight: 700;
}
.border{
    -fx-border-width: 0 2 0 2;
}
.footerContainer {
    -fx-pref-width: 695px;
    -fx-pref-height: 32px;
    -fx-border-width: 2 0 0 0;
}