.CustomHbox{
    -fx-alignment: center;
    -fx-pref-width: 695px;
    -fx-pref-height: 75px;
    -fx-background-radius: 8px;
    -fx-background-color:white;
    -fx-effect:dropshadow( gaussian,rgba(0, 0, 0, 0.13),4,1,4,4);

}
.welcome{
    -fx-font-family: Zen Kaku Gothic Antique;
    -fx-font-size: 2em;
    -fx-font-weight: 700;
    -fx-line-height: 23px;
    -fx-letter-spacing: 0px;
    -fx-text-align: center;

}
.username{
    -fx-font-family: Zen Kaku Gothic Antique;
    -fx-font-size: 20px;
    -fx-font-weight: 400;
    -fx-line-height: 23px;
    -fx-letter-spacing: 0px;
    -fx-text-align: center;

}