.toppane{
        -fx-pref-width: 695px;
        -fx-pref-height: 75px;
        -fx-background-radius: 8px;
         -fx-background-color:white;
         -fx-effect:dropshadow(box-shadow,4px 4px 4px 1px #00000021);


}
.middlepane{
         -fx-pref-width: 696px;
         -fx-pref-height: 453px;
          -fx-background-color:#00000021;

}

.Mpane1{
        -fx-pref-width: 696px;
        -fx-pref-height: 217px;
        -fx-background-radius: 8px, 0px, 0px, 8px;
        -fx-background-color:#FFFFFF;


}

.Mpane2{
        -fx-pref-width: 414px;
        -fx-pref-height: 223px;
        -fx-pref-left: 7px;
        -fx-background-radius: 8px;
        -fx-background-color:#FFFFFF;

}


.Mpane3{
        -fx-pref-width: 257px;
        -fx-pref-height: 223px;
        -fx-pref-left: 7px;
        -fx-background-radius: 8px;
        -fx-background-color:#FFFFFF;

}

.Mpane3 .Button{
    -fx-pref-width: 175px;
    -fx-pref-height: 39px;
    -fx-padding: 0px 4px;
    -fx-hgap: 18px;
    -fx-on-click: open-overlay("Add_device_popup"), animate("Instant", 0ms);
    -fx-font-family: "Inter";
    -fx-font-size: 13px;
    -fx-font-weight: 700;

    -fx-letter-spacing: 0em;
    -fx-alignment: center;


}

.Mpane3 .largebutt{
        -fx-pref-width: 175px;
            -fx-pref-height: 39px;
            -fx-on-click: open-overlay("Add_device_popup"), animate("Instant", 0ms);
            -fx-font-family: "Inter";
            -fx-font-size: 13px;
            -fx-font-weight: 700;

            -fx-letter-spacing: 0em;
            -fx-alignment: center;

}

.scroll{
       -fx-background: 10px solid #9E9E9E;

}
.scroll .SCROLL_BAR{
      -fx-color:white;
}

.quickaccessLabel{
        -fx-pref-width: 223px;
        -fx-pref-height: 30px;
        -fx-padding: 3px, 44px, 3px, 48px;
        -fx-background-radius: 0px, 0px, 8px, 8px;
        -fx-background-color: #B3B3B399;
        -fx-effect:dropshadow(box-shadow,0px 4px 4px 0px #00000040);
        -fx-font-family: Lucida Bright;
        -fx-font-size: 20px;
        -fx-font-weight: 600px;
        -fx-line-height: 24px;
        -fx-letter-spacing: 0em;
        -fx-text-align: center;
        -fx-text-fill: #4067EC;
        -fx-border-width: 0 0 3px 0;
        -fx-border-color: #4067EC;




}
.noteLabel{
  -fx-pref-width: 367px;
  -fx-pref-height: 30px;
  -fx-background-radius: 0px 0px 8px 8px;
  -fx-border-width: 0px 0px 3px 0px;
  -fx-border-color: transparent transparent #1270B0 transparent;
  -fx-background-color: linear-gradient( #1270B0, #1270B0), linear-gradient(rgba(179, 179, 179, 1), rgba(179, 179, 179, 1));
  -fx-font-family: "Lucida Bright";
  -fx-font-size: 20px;
  -fx-font-weight: 600;
  -fx-line-spacing: 24px;
  -fx-letter-spacing: 0em;
  -fx-text-alignment: center;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.25) , 0, 4, 4, 0 );
  -fx-text-fill:#4067EC;

}

.m3paneVbox{
        -fx-pref-width: 278px;
         -fx-pref-height: 171px;

}

.m3paneVbox .button2{
        -fx-pref-width: 178px;
        -fx-pref-height: 48px;
        -fx-font-family: Inter;
        -fx-font-size: 13px;
        -fx-font-weight: 400;
        -fx-line-height: 24px;
        -fx-letter-spacing: 0em;
        -fx-text-align: left;

}

.m3paneVbox .button1{
        -fx-pref-width: 178px;
        -fx-pref-height: 30px;
        -fx-font-family: Inter;
        -fx-font-size: 13px;
        -fx-font-weight: 400;
        -fx-line-height: 24px;
        -fx-letter-spacing: 0em;
        -fx-text-align: left;

}

