.footer{
    -fx-pref-width: 695px;
    -fx-pref-height: 32px;
    -fx-background-radius: 8px;
    -fx-background-color:#FFFFFF;
    -fx-effect:dropshadow( gaussian,rgba(0, 0, 0, 0.13),4,1,4,4);
}
.contactUs{
    -fx-pref-width: 148px;
    -fx-pref-height: 19px;
    -fx-font-family: Zen Kaku Gothic Antique;
    -fx-font-size: 20px;
    -fx-font-weight: 400;
    -fx-line-height: 23px;
    -fx-letter-spacing: 0px;
    -fx-text-align: center;
}

.title{
    -fx-pref-width: 382px;
    -fx-pref-height: 25px;

}

.date{
    -fx-pref-width: 70px;
    -fx-pref-height: 25px;
    -fx-background-radius: 4px;
    -fx-font-weight: 700;

}